/*************
General styling / Elements
**************/

/*************
Images
**************/

/*************
Buttons / Links / li / inputs
**************/

.footer-section-list-item {
  color: var(--wht);
  padding: 0.5rem 0;
}

.footer-section-list-item:hover {
  color: var(--grn);
}

/*************
Typography
**************/

.footer-section-heading {
  font-weight: 700;
  color: var(--wht);
}

/*************
Layout
**************/

.footer {
  background-color: var(--dblu);
  /* background-image: url(../../images/map.jpg);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  object-fit: cover;
  object-position: center; */
  min-height: 300px;
}

.footer-container {
  padding: 1rem 0;
}

.footer-section {
  padding: 1rem 0;
  border-bottom: 0.5px solid var(--wht);
}

.footer-section:last-of-type {
  border-bottom: none;
}

.footer-list {
  display: grid;
  grid-template-columns: 1fr;
}

.support-list {
  grid-template-rows: repeat(6, 1fr);
}

.community-list {
  grid-template-rows: repeat(2, 1fr);
}

.hosting-list {
  grid-template-rows: repeat(5, 1fr);
}

.travel-list {
  grid-template-rows: repeat(6, 1fr);
}

/*************
Media Queries @600px
**************/
@media (min-width: 600px) {
  /*************
General styling / Elements @600px
**************/

  /*************
Images @600px
**************/

  /*************
Buttons / Links / li / inputs @600px
**************/

  /*************
Typography @600px
**************/

  /*************
Layout @600px
**************/

  .footer-list {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }

  .support-list {
    grid-template-rows: repeat(3, auto);
  }

  .community-list {
    grid-template-rows: auto;
  }

  .hosting-list {
    grid-template-rows: repeat(3, auto);
  }

  .travel-list {
    grid-template-rows: repeat(3, auto);
  }

  /*************
Media Queries
**************/

  @media (min-width: 900px) {
    /*************
General styling / Elements @900px
**************/

    /*************
Images @600px
**************/

    /*************
Buttons / Links / li / inputs @900px
**************/

    /*************
Typography @900px
**************/

    /*************
Layout @900px
**************/

    .footer-list {
      grid-template-columns: repeat(3, 1fr);
      column-gap: 1rem;
    }

    .support-list {
      grid-template-rows: repeat(2, auto);
    }

    .community-list {
      grid-template-rows: auto;
    }

    .hosting-list {
      grid-template-rows: repeat(2, auto);
    }

    .travel-list {
      grid-template-rows: repeat(2, auto);
    }
  }
}
